Repository django/djangoproject.com, pull requests merged in 2025-04, with the labels that each got.

#2001 Added blog.ImageUpload to simplify attaching images to entries
  blog/admin.py
  blog/migrations/0004_imageupload.py
  blog/models.py
  blog/tests.py
  djangoproject/static/js/admin_blog_imageupload.js
Labels: blog, fundraising, content, ux

#2024 Improve displaying of images in blog entries
  djangoproject/scss/_style.scss
  djangoproject/templates/base_weblog.html
  djangoproject/templates/blog/entry_detail.html
Labels: styles, blog

#2038 Fix #2034 - Add fediverse creator meta tag
  djangoproject/templates/base.html
Labels: new feature, content
